body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 5%;
    background-color: #282A36;
    color: #F8F8F2;
}

button {
    width: 2vw;
    margin: 0.1vw;
    padding: 0.2vw;
    font-size: 1vw;
    background: transparent;
    border: none !important;
}

#image_restart {
    display: block;
    width: 120%;
}