@import url('https://fonts.googleapis.com/css2?family=Wendy+One&display=swap');

body {
    font-family: 'Wendy One', sans-serif;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #282A36;
    color: #F8F8F2;
    overflow: hidden;
}

button {
    width: 10%;
    min-width: 50px;
    max-width: 80px;
    background: transparent;
    border: none !important;
    margin-right: 1vw;
}

#image_restart {
    display: block;
    width: 120%;
}

#dbLevel {
    font-size: 40vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#controls {
    text-align: center;
    position: fixed;
        top: 51%;
        left: 50%;
        width: 50vw;
        height: 60vh;
        transform: translate(-50%, -50%);
}

#maxLimit {
    width: 20vw;
    padding: 10px;
    font-size: 2em;
    border: 2px solid #bd93f9;
    background: #282a36;
    color: #f8f8f2;
    border-radius: 8px;
    outline: none;
    transition: 0.3s;
    text-align: center;
}

#maxLimit:focus {
    border-color: #ff79c6;
    box-shadow: 0 0 8px rgba(255, 121, 198, 0.5);
}

#maxLimit::-webkit-outer-spin-button,
#maxLimit::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#maxLimit[type="number"] {
    -moz-appearance: textfield;
}

#titleSpan {
    max-width: 90vw;
}

#title {
    font-size: clamp(40px, 12vw, 100px);
    font-weight: bold;
    text-align: center;
    color: #bd93f9;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
}

.limitCountSize {
    font-size: clamp(20px, 1em, 50px);
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 30vw;
}

input[type="range"]:focus {
    outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
input[type="range"]::-webkit-slider-runnable-track {
    background-color: #44475A;
    border-radius: 0.5rem;
    height: 0.5rem;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -4px;
    background-color: #bd93f9;
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
    outline: 3px solid #bd93f9;
    outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
input[type="range"]::-moz-range-track {
    background-color: #44475A;
    border-radius: 0.5rem;
    height: 0.5rem;
}

input[type="range"]::-moz-range-thumb {
    background-color: #bd93f9;
    border: none;
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb {
    outline: 3px solid #bd93f9;
    outline-offset: 0.125rem;
}
